<div class="container">
  <div class="row">
    <h1 class="header col-sm-12">{{ title }}</h1>

    <form class="col-sm-12 row form">
      <div class="form-group col-sm-12">
        <label for="length">Enter Length</label>
        <input type="text" name="length" class="form-control" (input)="onChangeLength($event.target.value)">
      </div>
      <div class="form-check  col-sm-4 text-center">
        <label for="useLetters">Use Letter</label>
        <input type="checkbox" name="useLetters" class="form-control" (change)="onChangeUseLetters()">
      </div>
      <div class="form-check  col-sm-4 text-center">
        <label for="useNumbers">Use Numbers</label>
        <input type="checkbox" name="useNumbers" class="form-control" (change)="onChangeUseNumbers()">
      </div>
      <div class="form-check  col-sm-4 text-center">
        <label for="useSympbols">Use Symbols</label>
        <input type="checkbox" name="useSympbols" class="form-control" (change)="onChangeUseSymbols()">
      </div>
      <button 
      [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
      (click)="onButtonClick($event)"
      class="text-center custom-button btn btn-group-lg btn-danger"
      >
      Generate
    </button>
  </form>
    <div class="results col-sm-12 row text-center" *ngIf="password">
      <label class="col-sm-12" for="resultslabel">Your Password</label>
      <p class="col-sm-12 passwordGen">{{ password }}</p>
    </div>

  </div> 
</div>